body {
	font-family: Helvetica, Arial, sans-serif; 
}

.labyrinth {
	position: relative;
	margin-top: 30px;
	margin-bottom: 60px;
}
.labyrinth-image {
	position: absolute;
}
.labyrinth canvas {
	position: absolute;
}
#lab1-mouse {
	top: 150px;
	left: 20;
}
#lab1-cheese {
	top: 300px;
	right: 0;
}

#lab2-mouse {
	top: 0;
	left: 20;
}
#lab2-cheese {
	top: 400px;
	right: 0;
}

#lab2-bear {
	top: 350px;
	left: 0;
}
#lab2-honey {
	top: 50px;
	right: 20px;
}
